<div class="container">
    <div class="row" align="center">
        <% posts.forEach(function(post){ %>
            <div class="col-4 col-md-3 mt-3 p-1">
                <%- include('./components/ItemCard', {post:post}); %>
            </div>
        <% }); %>
    </div>
</div>
<!-- for 0- n post -->